---
import '@fontsource-variable/outfit';
import Part1 from './Part1.astro';
import img from '../images/image-qr-code.png';
---
<div class="font-outfit">
	<Part1 img={img.src} text1='Improve your font-end skills by building projects' text2='Scan the QR code to visit Frontend Mentor and take your coding skills to the next level' />
</div>